/*BODY*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*ADD BUTTON*/
#add-button {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin-top: 3%;
    margin-bottom: 0;
    align-items: center;
}

#add-button p {
    padding-right: 1%;
}

/*DEVICES LIST*/
#devicesList {
    margin: auto;
    margin-top: 1%;
}

#devicesList div div {
    border: none;
}

#devicesAttributes {
    display: flex !important;
    position: relative !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

.collection-item {
    display: flex !important;
    position: relative !important;
    justify-content: flex-end !important;
    align-items: center !important;
}

.material-icons span {
    color:#fb8c00;
}

.slider-div input {
    padding: 0 !important;
    height: 0;
}

div>div.col{
    background-color: bisque;
    border: 2px solid black;

}

.textoError{
    width: 50%;
    margin: auto;
    font-size: x-small;
    text-align: center;
    color: red;
    border: solid 5px chocolate;
}
.textoCorrecto{
    font-size: x-small;
    text-align: center;
    color: rgb(71, 161, 73);

}

/* MODAL EDIT */
#modal-edit .row .input-field{
    background-color: #edede9;
    border:none;
    padding: 0px;
    margin: 5%;
    width: 40%;
}

#modal-edit .row .input-field{
    padding: 10px;
}

/* MODAL EDIT */
#modal-add .row .input-field{
    background-color: #edede9;
    border:none;
    padding: 0px;
    margin: 5%;
    width: 40%;
}

#modal-add .row .input-field{
    padding: 10px;
}


/*FOOTER*/
.footer-div {
    border: none !important;
}

.footer-div i {
    color: white !important;
    transition: color 0.2s ease !important;
}

.footer-div i:hover {
    color: #fb8c00 !important;
}

.icon-container-footer {
    display: flex !important;
    justify-content: flex-end !important;
}

/*FAQ*/
#faqbody {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

#faqbody main {
    margin: 20px
}

#faqbody h1, #faqbody h2 {
    color: #333;
}

#faqbody h2 {
    margin-top: 20px;
}

#faqbody ul {
    list-style-type: none;
    padding: 0;
}

#faqbody li {
    margin-bottom: 10px;
}